<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="bg-image p-5 text-center shadow-5-strong rounded mb-5"
     style="background-image: url(/images/AboutUsPageImg.jpg);">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><h1 class="text-center text-white" th:text="#{nav_bar_about_us}">About us</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
    </div>
</div>

<div class="container mt-5 mb-5 border-top pt-5 border-bottom pb-5 border-4">
    <div class="row">
        <div th:if="${#locale.toString()} == 'en_US'">
            Our publishing house was founded in 2024 with the aim of increasing the number of titles published in Bulgarian in the genres of science fiction, fantasy and horror. It's made by fans for fans. The plans are to publish both classic works from the golden age of fantasy, as well as new, current titles from authors, creators in our favorite genres. We hope to cope with this difficult task and the time will come when our series will be known to every fan of the genre.
        </div>
        <div th:if="${#locale.toString()} == 'bg_BG'">
            Нашето издателство е основано през 2024 година с цел увеличаване на заглавията, които се издават на български език в жанровете научна фантастика, фентъзи и хорър. Създадено е от фенове за фенове. Плановете са да се издават както класически произведения от златната ера на фантастиката, така и нови, актуални заглавия от автори, творци в любимите ни жанрове. Надяваме се да се справим с тази нелека задача и да дойде моментът, когато нашата поредицата ще бъде известна на всеки един почитател на жанра.
        </div>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>