<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>

<img class="position-relative img-fluid overflow-y-hidden" style="height: 100vh; width: 100vw;" src="/img/FormPageImg.jpg" alt="snimka">
<div class="container position-absolute top-50 start-50 translate-middle">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <h2 class="text-white mt-3 text-center">Add category</h2>
            <form>
                <div class="form-floating mt-3">
                    <input type="text" id="name" class="form-control"
                           placeholder="Place name  here">
                    <label for="name" class="form-label">Name</label>
                </div>
                <div class="text-center">
                    <button class="mt-3 btn btn-success mb-3 btn-center">Add category</button>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<nav class=" bg-body-tertiary pt-3 pb-3">
    <div class="row text-center">
        <h3>
            <a th:href="@{/index}" class="text-dark link-underline link-underline-opacity-0">Publish House</a>
        </h3>
    </div>
</nav>
</body>
</html>