<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>

<div class="bg-image p-5 text-center shadow-5-strong rounded mb-5"
     style="background-image: url(/images/ContactPageImg.jpg);">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><h1 class="text-center text-white" th:text="#{nav_bar_contacts}">Contact</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
    </div>
</div>

<div class="container mt-5 mb-5 border-top border-bottom border-3 pt-5 pb-5">
    <div class="row">
        <div class="col">
            <h2 th:if="${#locale.toString()} == 'en_US'">Contact us</h2>
            <h2 th:if="${#locale.toString()} == 'bg_BG'">Изпратете съобщение</h2>
            <form th:action="@{/add-message}" th:method="POST" th:object="${messageData}">
                <div class="form-floating mt-3">
                    <input type="text" id="message_title" class="form-control"
                           th:field="*{messageTitle}"
                           th:errorclass="'is-invalid alert-danger'"
                           placeholder="Place message title  here">
                    <div th:each="error: ${#fields.errors('messageTitle')}" th:text="${error}" class="text-danger">Error messages</div>
                    <label th:if="${#locale.toString()} == 'en_US'" for="message_title" class="form-label">Message Title</label>
                    <label th:if="${#locale.toString()} == 'bg_BG'" for="message_title" class="form-label">Заглавие</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="text" id="message" class="form-control"
                           th:field="*{text}"
                           th:errorclass="'is-invalid alert-danger'"
                           placeholder="Place message  here">
                    <div th:each="error: ${#fields.errors('text')}" th:text="${error}" class="text-danger">Error messages</div>
                    <label th:if="${#locale.toString()} == 'en_US'" for="message" class="form-label">Message</label>
                    <label th:if="${#locale.toString()} == 'bg_BG'" for="message" class="form-label">Съобщение</label>

                </div>
                <button th:if="${#locale.toString()} == 'en_US'" class="mt-3 btn btn-warning">Submit</button>
                <button th:if="${#locale.toString()} == 'bg_BG'" class="mt-3 btn btn-warning">Изпрати</button>
            </form>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <h2 th:if="${#locale.toString()} == 'en_US'">Our contacts</h2>
                    <h2 th:if="${#locale.toString()} == 'bg_BG'">Нашите контакти</h2>
                </div>
                <div class="row mt-3">
                    <h3 th:text="#{email}">Email</h3>
                    <span class="mt-1">example@email.com</span>
                </div>
                <div class="row mt-3">
                    <h3 th:text="#{phone_number}">Phone number</h3>
                    <span class="mt-1">+359555555555</span>
                </div>
                <div class="row mt-3">
                    <h3 th:if="${#locale.toString()} == 'en_US'">Facebook</h3>
                    <h3 th:if="${#locale.toString()} == 'bg_BG'">Фейсбук</h3>
                    <span class="mt-1">https://www.facebook.com/publishHouse</span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>