<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Publish House App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container pt-3 pb-3">
        <a href="#" class="navbar-brand me-5">Publish House</a>
        <button class="navbar-toggler" data-bs-toggle="collapse"
                data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start ps-5 ms-5" id="nav">
            <ul class="navbar-nav">
                <li class="nav-item me-5">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item ms-5 me-5">
                    <a href="#" class="nav-link">About us</a>
                </li>
                <li class="nav-item ms-5 me-5">
                    <a href="#" class="nav-link">Shop</a>
                </li>
                <li class="nav-item ms-5">
                    <a href="#" class="nav-link">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5"
     style="background-image: url(/img/SnimkaNaiOtgore.jpg);">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><h1 class="text-center text-white">Publish House</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <a href="#" class="btn btn-lg-md btn-info text-white">Go to the shop</a>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
    </div>
</div>

<!--<img class="position-relative img-fluid overflow-y-hidden" style="height: 100vh; width: 100vw;" src="/img/SnimkaNaiOtgore.jpg" alt="snimka">-->
<!--<div class="container position-absolute top-50 start-50 translate-middle">-->
<!--    <div class="row mt-5">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4"><h1 class="text-center text-white">Publish House</h1></div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
<!--    <div class="row mt-5">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4 text-center">-->
<!--            <a href="#" class="btn btn-lg-md btn-info text-white">Go to the shop</a>-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
<!--</div>-->

<div class="container mt-5 mb-5">
    <div class="row row-cols-md-4 g-5">
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/SnimkaNaiOtdolu.jpg" alt="snimka" class="card-img-top"/>
                <div class="card-body">
                    <span class="card-subtitle">Category</span>
                    <h2 class="card-title">Title</h2>
                    <div class="card-text">30 лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form>
                                <button type="submit" class="btn-success btn btn-sm">Add to cart</button>
                            </form>
                        </div>
                        <div class="col">
                            <form >
                                <button type="submit" class="btn-success btn btn-sm">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-image p-5 text-center shadow-1-strong rounded"
     style="background-image: url(/img/SnimkaNaiOtdolu.jpg);">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><h1 class="text-center text-white">Books are the most beautiful thing in our world!</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <a href="#" class="btn btn-lg-md btn-info text-white">Go to the shop</a>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
</div>



<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container pt-3 pb-3">
        <div class="row">
            <div class="col">
                <button class="navbar-toggler" data-bs-toggle="collapse"
                        data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-start ps-5 ms-5" id="nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">About us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-1">
                <a href="#" class="navbar-brand me-5">Publish House</a>
            </div>
        </div>
    </div>
</nav>

</body>
</html>
