<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div th:if="${isOrdered}" class="alert alert-success alert-dismissible text-center mb-0 rounded-0" role="alert">
    Thank you for shopping from us! Have a nice day!
    <button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
</div>
<div th:if="${successfulAddAuthor}" class="alert alert-success alert-dismissible text-center mb-0 rounded-0" role="alert">
    Congratulations! You successfully added an author!
    <button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
</div>
<div th:if="${successfulAddCategory}" class="alert alert-success alert-dismissible text-center mb-0 rounded-0" role="alert">
    Congratulations! You successfully added a category!
    <button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
</div>
<div th:if="${successfulAddBook}" class="alert alert-success alert-dismissible text-center mb-0 rounded-0" role="alert">
    Congratulations! You successfully added a book!
    <button class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
</div>
<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5"
     style="background-image: url(/images/IndexPageImg.jpg);">
    <div class="container">
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4"><h1 class="text-center text-white">Publish House</h1></div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <a th:href="@{/shop}" class="btn btn-lg-md btn-info text-white rounded-5">Go to the shop</a>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
        <div class="row mt-5"></div>
    </div>
</div>

<!--<img class="position-relative img-fluid overflow-y-hidden" style="height: 100vh; width: 100vw;" src="/img/IndexPageImg.jpg" alt="snimka">-->
<!--<div class="container position-absolute top-50 start-50 translate-middle">-->
<!--    <div class="row mt-5">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4"><h1 class="text-center text-white">Publish House</h1></div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
<!--    <div class="row mt-5">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4 text-center">-->
<!--            <a href="#" class="btn btn-lg-md btn-info text-white">Go to the shop</a>-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->
<!--</div>-->
<div class="container mt-5 mb-5">
    <div class="row row-cols-md-4 g-5">
        <div class="col" th:each="book:${books}">
            <div class="card">
                <img th:src="${book.getImageUrl()}" alt="image" class="card-img-top img-thumbnail"/>
                <div class="card-body">
                    <span class="card-subtitle" th:text="${book.getCategoryName()}">Category</span>
                    <h2 class="card-title" th:text="${book.getTitle()}">Title</h2>
                    <div class="card-text"> <span th:text="${#numbers.formatDecimal(book.price, 0, 2)}">30</span>лв.</div>
                    <div class="row mt-2 g-1">
                        <div class="col">
                            <form th:action="@{/books/{id}(id=${book.id})}" th:method="GET">
                                <button type="submit" class="btn-success btn btn-sm rounded-5">Read more</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
