<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col bg-info p-4 bg-opacity-25 rounded-5">
            <div class="row">
                <h2 th:if="${#locale.toString()} == 'en_US'">From: <span th:text="${message.username}">Name</span></h2>
                <h2 th:if="${#locale.toString()} == 'bg_BG'">От: <span th:text="${message.username}">Name</span></h2>
            </div>
            <div class="row">
                <h3 th:if="${#locale.toString()} == 'en_US'">Email: <span th:text="${message.email}">exaple@email.com</span></h3>
                <h3 th:if="${#locale.toString()} == 'bg_BG'">Имейл: <span th:text="${message.email}">exaple@email.com</span></h3>

            </div>
            <div class="row mt-3">
                <h3 th:if="${#locale.toString()} == 'en_US'">Message: <span th:text="${message.text}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam modi nam repudiandae aut eveniet dolore mollitia odio sint aperiam, ex ut saepe corrupti impedit dignissimos assumenda beatae ea excepturi similique id. Autem ipsam deserunt, sit cum ipsa voluptatem aspernatur maiores culpa laboriosam eos consequuntur corrupti atque doloribus voluptatibus facilis officia in esse veniam ut sed aut asperiores cupiditate voluptates! Dolorum optio similique quasi, harum, aliquam pariatur animi, sequi quae magni dolorem beatae delectus. Sequi impedit adipisci excepturi labore eum quos tempora maxime ex cum quis sunt non, ullam numquam iusto esse temporibus sapiente dolores delectus laudantium necessitatibus voluptatum molestiae. Inventore?</span></h3>
                <h3 th:if="${#locale.toString()} == 'bg_BG'">Съобщение: <span th:text="${message.text}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam modi nam repudiandae aut eveniet dolore mollitia odio sint aperiam, ex ut saepe corrupti impedit dignissimos assumenda beatae ea excepturi similique id. Autem ipsam deserunt, sit cum ipsa voluptatem aspernatur maiores culpa laboriosam eos consequuntur corrupti atque doloribus voluptatibus facilis officia in esse veniam ut sed aut asperiores cupiditate voluptates! Dolorum optio similique quasi, harum, aliquam pariatur animi, sequi quae magni dolorem beatae delectus. Sequi impedit adipisci excepturi labore eum quos tempora maxime ex cum quis sunt non, ullam numquam iusto esse temporibus sapiente dolores delectus laudantium necessitatibus voluptatum molestiae. Inventore?</span></h3>
            </div>
            <div class="row mt-5" th:if="${message.status == 'NOT_SEEN'}">
                <form th:action="@{/messages/change-status/{id}(id=${message.id})}" th:method="PATCH"><button class="btn btn-success rounded-5"> <span th:text="#{change_status_to}">Change status to</span> seen</button></form>
            </div>
        </div>
        <div class="col-2" ></div>
    </div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>