<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col bg-info p-4 bg-opacity-25 rounded-5">
            <div class="row">
                <h2>From: <span>Name</span></h2>
            </div>
            <div class="row">
                <h3>Email: <span>exaple@email.com</span></h3>
            </div>
            <div class="row mt-5">
                <h3>Message: <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam modi nam repudiandae aut eveniet dolore mollitia odio sint aperiam, ex ut saepe corrupti impedit dignissimos assumenda beatae ea excepturi similique id. Autem ipsam deserunt, sit cum ipsa voluptatem aspernatur maiores culpa laboriosam eos consequuntur corrupti atque doloribus voluptatibus facilis officia in esse veniam ut sed aut asperiores cupiditate voluptates! Dolorum optio similique quasi, harum, aliquam pariatur animi, sequi quae magni dolorem beatae delectus. Sequi impedit adipisci excepturi labore eum quos tempora maxime ex cum quis sunt non, ullam numquam iusto esse temporibus sapiente dolores delectus laudantium necessitatibus voluptatum molestiae. Inventore?</span></h3>
            </div>
            <div class="row mt-5">
                <form action=""><button class="btn btn-success rounded-5">Change status to seen</button></form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>