<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col bg-warning p-4 bg-opacity-25 rounded-5" th:object="${order}">
            <div class="row mb-2">
                <h2><span th:text="#{user}">User</span>: <span th:text="*{username}">username</span></h2>
            </div>
            <div class="row">
                <h2><span th:text="#{shipping_info}">Shipping info</span>:</h2>
            </div>
            <div class="row">
                <h4><span th:text="#{name}">Name</span>: <span th:text="*{shippingName}">Name</span></h4>
            </div>
            <div class="row">
                <h4><span th:text="#{email}">Email</span>: <span th:text="*{shippingEmail}">exaple@email.com</span></h4>
            </div>
            <div class="row">
                <h4><span th:text="#{address}">Address</span>: <span th:text="*{shippingAddress}">3905 Hillside Street</span></h4>
            </div>
            <div class="row">
                <h4><span th:text="#{phone_number}">Phone number</span>: <span th:text="*{shippingPhoneNumber}">0855555555</span></h4>
            </div>
            <div class="row mt-2">
                <h2><span th:text="#{date_created}">Date created</span>: <span th:text="${#temporals.format(order.createdDateTime, 'dd-MM-yyyy HH:mm:ss')}">26.07.2024</span></h2>
            </div>
            <div class="row mt-2">
                <h2><span th:text="#{books}">Books</span>:</h2>
            </div>
            <div class="row border border-white border-3 rounded-pill mb-3" th:each="book:*{booksQuantitiesMap}">
                <div class="col">
                    <h3 class="pt-3 pb-3 ps-4" th:text="${book.key.title}">Title</h3>
                </div>
                <div class="col pt-3 pb-3 pe-4 text-end">
                    <h3> <span th:text="${book.value}">2</span> x <span th:text="${#numbers.formatDecimal(book.key.price, 0, 2)}">30.00</span>лв.</h3>
                </div>
            </div>
            <div class="row" th:if="${order.promoCodeName != null}">
                <h3><span th:text="#{promo_code}">Promo code</span>: "<span th:text="*{promoCodeName}">"code10"</span>" <span th:text="#{for}">for</span>  <span th:text="*{promoCodeDiscountPercent}">10</span>% <span th:text="#{discount}">discount</span></h3>
            </div>
            <div class="row">
                <h3><span th:text="#{total}">Total</span>: <span th:text="${#numbers.formatDecimal(order.totalPrice, 0, 2)}">90</span>лв.</h3>
            </div>
            <div class="row mt-2">
                <h3><span th:text="#{status}">Status</span>: <span th:text="*{status}">processing</span></h3>
            </div>
            <div class="row mt-3" th:if="${order.status == 'PROCESSING'}">
                <form th:action="@{/orders/change-status/{id}(id=${order.id})}" th:method="PATCH"><button class="btn btn-success rounded-5"><span th:text="#{change_status_to}">Change status to</span> completed</button></form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>