<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::header"></header>
<div class="container mt-5 mb-5">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col bg-success p-4 bg-opacity-25 rounded-5">
            <div class="row">
                <h2>Username: <span>Username</span></h2>
            </div>
            <div class="row">
                <h3>Email: <span>exaple@email.com</span></h3>
            </div>
            <div class="row mt-2">
                <form action=""><button class="btn btn-secondary rounded-5">Orders</button></form>
            </div>
            <div class="row mt-2">
                <h3>Role: <span>User</span></h3>
            </div>
            <div class="row mt-2">
                <form action=""><button class="btn btn-success rounded-5">Change role to <span>admin</span></button></form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>